[Unit]
Description=Aipo Docker
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a "aipo-dockerfile"
ExecStop=/usr/bin/docker stop --time=1 "aipo-dockerfile"

[Install]
WantedBy=multi-user.target